<div class="container">
    <h2>For Kir</h2>
    <p></p>
    <mat-grid-list gutterSize="50" cols="3">
        <mat-grid-tile *ngFor="let gift of gifts | async" [class.redeemed]="gift.redeemDate !== ''">

            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{gift.name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image [src]="gift.image" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        {{gift.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="redeem(gift)" *ngIf="gift.redeemDate === ''; else redeemed">REDEEM</button>
                    <ng-template #redeemed>
                        <button class="disabled" mat-button disabled>REDEEMED ON {{convertTimestamp(gift.redeemDate) |
                            date}}</button>
                    </ng-template>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>